
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", seri;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.create__news__name {
    font-weight: 400;
    font-size: 16px;
    color: #737373;
    margin: 60px 0 55px 22px;
    position: relative;
    cursor: pointer;
}

.create__news__name::after {
    content: '';
    position: absolute;
    background-image: url(./createNewsIMG/Icon\ -\ Arrow\ Left.svg);
    width: 30px;
    height: 30px;
    left: -29px;
    top: -5px;
}

.create__news__box {
    max-width: 996px;
    margin: 0 auto;
    position: relative;
}

.create__news__form {
    display: flex;
    flex-direction: column;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 132px;
    border: 2px dashed #C8C8C8;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    position: relative;
}
  
.upload-container__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.upload-container__img .image-preview {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.upload-container__img .image-preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Затемнение */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Изначально скрыто */
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.image-preview:hover .image-overlay {
    opacity: 1; /* Показывается при наведении */
}
  
.upload-container:hover {
  border-color: #999;
}
  
.upload-container .c__news__form__img, 
.c__news__form__img1 {
    display: none;
}

.c__news__form__img__upload1 {
    padding: 6px 26px;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    background-color: #f3f3f3;
    border-radius: 8px;
    display: block;
    text-align: center;
  }
  
.upload-container .c__news__form__img__upload {
    padding: 6px 26px;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    background-color: #f3f3f3;
    border-radius: 8px;
    display: block;
    text-align: center;
}
  
.c__news__form__des {
    border-radius: 10px;
    width: 100%;
    height: 52px;    
    margin: 20px 0 15px;
    background-color: #F1F1F1;
    border: none;
    padding: 15px 20px;
    outline: none;
}

.c__news__form__des::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #737373;
}

.textarea__box {
    position: relative;
    display: block;
}

.c__news__form__text {
    border-radius: 10px;
    width: 100%;
    height: 150px;  
    background-color: #F1F1F1;  
    border: none;
    padding: 15px 20px;
    outline: none;
    resize: none;
}

.char-counter {
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-weight: 400;
    font-size: 14px;
    color: gray;
}

.c__news__form__text::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #737373;
}

.c__news__form__button {
    max-width: 294px;
    margin: 50px auto 95px;
}

.c__news__form__btn {
    border-radius: 13px;
    width: 294px;
    height: 38px;   
    background: #C8C8C8; 
    border: none;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFA;
    cursor: not-allowed;
}

.c__news__form__btn.active {
    background-color: #0B3C26;
    cursor: pointer;
    transition: all .3s ease;
}

.c__news__form__btn.active:hover {
    background-color: #136741;
}
  
.c__news__form__btn.inactive {
    background-color: #C8C8C8;
    cursor: not-allowed;
}

.create__news__get {
    width: 58px;
    height: 58px;
    background-color: #5EB147;
    border-radius: 50%;
    position: absolute;
    right: -103px;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.create__news__box__get {
    max-width: 996px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 52px;
    margin-bottom: 55px;
    position: relative;
}

.c__news__box__get__img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px;
}

.c__news__box__get__image {
    max-width: 100%;
    height: 100%;
    display: block;
}

 

.create__news__content {
    width: 100%;
}

.create__news__content__title {
    font-weight: 500;
    font-size: 18px;    
    margin: 20px 0 15px;
}

.create__news__content__des {
    font-weight: 400;
    font-size: 16px;
}

.c__news__box__get__success {
    border-radius: 15px;
    padding: 14px 20px;
    width: 184px;
    height: 52px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: fixed;
    top: 600px;
    left: 80;
}

.c__news__box__get__error {
    border-radius: 15px;
    padding: 14px 20px;
    width: 263px;
    height: 52px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: fixed;
    top: 600px;
    left: 80;
}

.success-message,
.error-message {
    font-weight: 400;
    font-size: 18px;
}

.create__news__name-del {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create__news__del {
    border-radius: 13px;
    padding: 6px 18px;
    width: 113px;
    height: 34px;
    color: #FFFFFA;   
    background-color: #FA5656;
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease;
    cursor: pointer;
}

.create__news__del:hover {
    background-color: #f63333;
}

.create__news__del__mobile {
    display: none;
}


@media(max-width: 1250px){
    .create__news__get {
        right: 0;
        bottom: 30px;
    }
}

@media(max-width: 1070px){
    .container {
        max-width: 90%;
    }

    .create__news__name {
        margin: 0 0 0 22px;
    }

    .create__news__box__get {
        margin-top: 32px;
        margin-bottom: 27px;
    }

    .create__news__name-del {
        margin-top: 30px;
        margin-bottom: 25px;
    }
   
    .c__news__form__des {
        margin: 10px 0 ;
        height: 40px;  
    }

    .c__news__form__des::placeholder {
        font-size: 16px;
    }
    
    .c__news__form__text::placeholder {
        font-size: 14px;
    }
    
}


@media(max-width: 600px){
    .c__news__form__button {
        max-width: 241px;
        margin: 25px auto 48px;
    }
    
    .c__news__form__btn {
        border-radius: 13px;
        width: 241px;
        height: 32px;   
        font-size: 16px;
    }

    .create__news__get {
        width: 37px;
        height: 37px;
        background-color: #5EB147;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .create__news__del {
        display: none;
    }

    .create__news__del__mobile {
        display: flex;
    }
}